@media (min-width:768px){
    .card__container{
        max-width: 420px;
    }
    .inf__details a{
        width: 55px;
        height: 55px;
        font-size: 1.4rem;
    }
    .save-line{
        font-size: 16px;
        padding: 14px 26px;
    }
    .imge .logo{
        width: 85px;

    }
    .imge .logo{
        width: 130px;
        height: 130px;

    }
    
}